In [2]:
# Import dependicies and setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [31]:
# Import csv
csv = pd.read_csv('2012-18_officialBoxScore.csv')
# csv.head()

In [4]:
# Make dataframe with columns needed
nba_df = csv[["gmDate", "gmTime", "offLNm", "offFNm", "teamAbbr", "teamDiv", "teamLoc", "teamRslt", "teamPTS", "teamTO", "teamSTL", "teamBLK", "teamPF", "teamFGA", "teamFGM", "teamFTA", "teamFTM", "teamFT%", "teamTRB", "teamSTL%", "teamBLK%", "teamBLKR"]]

In [5]:
nba_df.head()

,gmDate,gmTime,offLNm,offFNm,teamAbbr,teamDiv,teamLoc,teamRslt,teamPTS,teamTO,...,teamPF,teamFGA,teamFGM,teamFTA,teamFTM,teamFT%,teamTRB,teamSTL%,teamBLK%,teamBLKR
0,10/30/2012,19:00,Brothers,Tony,WAS,Southeast,Away,Loss,84,13,...,19,90,32,20,12,0.6000,39,12.3678,11.2434,17.2414
1,10/30/2012,19:00,Smith,Michael,WAS,Southeast,Away,Loss,84,13,...,19,90,32,20,12,0.6000,39,12.3678,11.2434,17.2414
2,10/30/2012,19:00,Workman,Haywoode,WAS,Southeast,Away,Loss,84,13,...,19,90,32,20,12,0.6000,39,12.3678,11.2434,17.2414
3,10/30/2012,19:00,Brothers,Tony,CLE,Central,Home,Win,94,21,...,21,79,36,22,15,0.6818,54,7.8704,5.6217,8.4746
4,10/30/2012,19:00,Smith,Michael,CLE,Central,Home,Win,94,21,...,21,79,36,22,15,0.6818,54,7.8704,5.6217,8.4746

In [52]:
# Grouping games by date and time 
nba_df["gmDateTime"] = nba_df["gmDate"].astype(str) + " " + nba_df["gmTime"].astype(str)

# print(nba_df['gmDateTime'])

nba_df_groupby = nba_df.groupby("gmDateTime")

# Concatenating unique referees' names
nba_df["offFL"] = nba_df["offFNm"].astype(str) + " " + nba_df["offLNm"].astype(str)

# print(nba_df['offFL'])

C:\Users\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Anaconda\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [64]:
first_names = nba_df["offFNm"].unique().astype(str)
last_names = nba_df["offLNm"].unique().astype(str)
teamAbbr = nba_df["teamAbbr"].unique().astype(str)
regions = nba_df["teamDiv"].unique().astype(str)
regions

array(['Southeast', 'Central', 'Atlantic', 'Southwest', 'Pacific',
       'Northwest'], dtype='<U9')

In [34]:
# Full referee names concatenated together
ref_names = [None] * len(first_names)
for x in range(len(first_names)):
    ref_names[x] = first_names[x] + " " + last_names[x]

In [ ]:
# Establishing dictionary for recording fouls-per-team-per-official
foul_by_team_reset = {'WAS':0, 'CLE':0, 'BOS':0, 'MIA':0, 'DAL':0, 'LAL':0, 'DEN':0, 'PHI':0, 'IND':0,
       'TOR':0, 'HOU':0, 'DET':0, 'SAC':0, 'CHI':0, 'SA':0, 'NO':0, 'UTA':0, 'GS':0, 'PHO':0,
       'MEM':0, 'LAC':0, 'POR':0, 'OKC':0, 'ORL':0, 'CHA':0, 'MIL':0, 'ATL':0, 'NY':0,
       'MIN':0, 'BKN':0}
foul_by_team = {'WAS':0, 'CLE':0, 'BOS':0, 'MIA':0, 'DAL':0, 'LAL':0, 'DEN':0, 'PHI':0, 'IND':0,
       'TOR':0, 'HOU':0, 'DET':0, 'SAC':0, 'CHI':0, 'SA':0, 'NO':0, 'UTA':0, 'GS':0, 'PHO':0,
       'MEM':0, 'LAC':0, 'POR':0, 'OKC':0, 'ORL':0, 'CHA':0, 'MIL':0, 'ATL':0, 'NY':0,
       'MIN':0, 'BKN':0}
# Establishing dictionary for recording fouls-per-region-per-referee
foul_by_region_reset = {'Southeast':0, 'Central':0, 'Atlantic':0, 'Southwest':0, 'Pacific':0,
       'Northwest':0}
foul_by_region = {'Southeast':0, 'Central':0, 'Atlantic':0, 'Southwest':0, 'Pacific':0,
       'Northwest':0}

In [65]:
# Nested loops to sum fouls per team per referee
for row in nba_df:
    for ref in ref_names:
        for team in teamAbbr:
            if ref == nba_df["offFL"] & team == nba_df["teamAbbr"]:
                    fl_by_team[team] += nba_df["teamPF"]

TypeError: Cannot perform 'and_' with a dtyped [object] array and scalar of type [bool]