In [1]:
# Import dependicies and setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps as gmaps

In [2]:
# Import csv
csv = pd.read_csv('2012-18_officialBoxScore.csv')
csv.head()

,gmDate,gmTime,seasTyp,offLNm,offFNm,teamAbbr,teamConf,teamDiv,teamLoc,teamRslt,...,teamPPS,teamFIC,teamFIC40,teamOrtg,teamDrtg,teamEDiff,teamPlay%,teamAR,teamAST/TO,teamSTL/TO
0,10/30/2012,19:00,Regular,Brothers,Tony,WAS,East,Southeast,Away,Loss,...,0.9333,67.25,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154
1,10/30/2012,19:00,Regular,Smith,Michael,WAS,East,Southeast,Away,Loss,...,0.9333,67.25,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154
2,10/30/2012,19:00,Regular,Workman,Haywoode,WAS,East,Southeast,Away,Loss,...,0.9333,67.25,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154
3,10/30/2012,19:00,Regular,Brothers,Tony,CLE,East,Central,Home,Win,...,1.1899,74.00,61.6667,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333
4,10/30/2012,19:00,Regular,Smith,Michael,CLE,East,Central,Home,Win,...,1.1899,74.00,61.6667,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333

In [3]:
# Make dataframe with columns needed
nba_df = csv[["gmDate", "gmTime", "offLNm", "offFNm", "teamAbbr", "teamDiv", "teamLoc", "teamRslt", "teamPTS", "teamTO", "teamSTL", "teamBLK", "teamPF", "teamFGA", "teamFGM", "teamFTA", "teamFTM", "teamFT%", "teamTRB", "teamSTL%", "teamBLK%", "teamBLKR"]]

In [4]:
nba_df.head()

,gmDate,gmTime,offLNm,offFNm,teamAbbr,teamDiv,teamLoc,teamRslt,teamPTS,teamTO,...,teamPF,teamFGA,teamFGM,teamFTA,teamFTM,teamFT%,teamTRB,teamSTL%,teamBLK%,teamBLKR
0,10/30/2012,19:00,Brothers,Tony,WAS,Southeast,Away,Loss,84,13,...,19,90,32,20,12,0.6000,39,12.3678,11.2434,17.2414
1,10/30/2012,19:00,Smith,Michael,WAS,Southeast,Away,Loss,84,13,...,19,90,32,20,12,0.6000,39,12.3678,11.2434,17.2414
2,10/30/2012,19:00,Workman,Haywoode,WAS,Southeast,Away,Loss,84,13,...,19,90,32,20,12,0.6000,39,12.3678,11.2434,17.2414
3,10/30/2012,19:00,Brothers,Tony,CLE,Central,Home,Win,94,21,...,21,79,36,22,15,0.6818,54,7.8704,5.6217,8.4746
4,10/30/2012,19:00,Smith,Michael,CLE,Central,Home,Win,94,21,...,21,79,36,22,15,0.6818,54,7.8704,5.6217,8.4746

In [13]:
# nba_df['gmDate'] = nba_df['gmDate'].astype(str)
# nba_df['gmTime'] = nba_df['gmTime'].astype(str)

nba_df["gmDateTime"] = nba_df["gmDate"].astype(str) + " " + nba_df["gmTime"].astype(str)

print(nba_df['gmDateTime'])

nba_df_groupby = nba_df.groupby('gmDateTime')
# nba2 = nba_df_groupby['gmTime'].unique()

for row in nba_df:
    for team in teamAbbr_unique
    if nba_df["offLNm"] == "Brothers" && nba_df["offFNm"] == "Tony" &&

0        10/30/2012 19:00
1        10/30/2012 19:00
2        10/30/2012 19:00
3        10/30/2012 19:00
4        10/30/2012 19:00
               ...
44279     4/11/2018 10:30
44280     4/11/2018 10:30
44281     4/11/2018 10:30
44282     4/11/2018 10:30
44283     4/11/2018 10:30
Name: gmDateTime, Length: 44284, dtype: object
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000027082FC92B0>

c:\users\jplum\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.