In [1]:
# Import dependicies and setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Import csv
csv = pd.read_csv('2012-18_officialBoxScore.csv')
# csv.head()

In [3]:
# Make dataframe with columns needed
nba_df = csv[["gmDate", "gmTime", "offLNm", "offFNm", "teamAbbr", "teamDiv", "teamLoc", "teamRslt", "teamPTS", "teamTO", "teamSTL", "teamBLK", "teamPF", "teamFGA", "teamFGM", "teamFG%", "teamFTA", "teamFTM", "teamFT%", "teamTRB", "teamSTL%", "teamBLK%", "teamBLKR"]]

In [4]:
# Convert date to datetime
pd.to_datetime(nba_df["gmDate"])

#df.dtypes
# nba_df = nba_df.sort_values("gmDate")

#turn date into unix timestamp
sorted_df["timestamp"] = sorted_df["gmDate"].astype('int64')//1e9
sorted_df

0       2012-10-30
1       2012-10-30
2       2012-10-30
3       2012-10-30
4       2012-10-30
           ...
44279   2018-04-11
44280   2018-04-11
44281   2018-04-11
44282   2018-04-11
44283   2018-04-11
Name: gmDate, Length: 44284, dtype: datetime64[ns]

In [ ]:
# # Grouping games by date and time 
# nba_df["gmDateTime"] = nba_df["gmDate"].astype(str) + " " + nba_df["gmTime"].astype(str)

# # print(nba_df['gmDateTime'])

# nba_df_groupby = nba_df.groupby("gmDateTime")

In [5]:
# Home and Away Sort
# sorted_df = nba_df.sort_values(["gmDate", "gmTime"], ascending=[True,True]).drop_duplicates(subset=["gmDateTime", "teamAbbr"])
sorted_df = nba_df.sort_values(["gmDate", "gmTime"], ascending=[True,True]).drop_duplicates(subset=["gmDate", "teamAbbr"])
sorted_df

,gmDate,gmTime,offLNm,offFNm,teamAbbr,teamDiv,teamLoc,teamRslt,teamPTS,teamTO,...,teamFGA,teamFGM,teamFG%,teamFTA,teamFTM,teamFT%,teamTRB,teamSTL%,teamBLK%,teamBLKR
2738,1/1/2013,18:00,Mott,Rodney,DAL,Southwest,Away,Win,103,12,...,82,41,0.5000,17,11,0.6471,42,6.5465,4.3643,6.6667
2741,1/1/2013,18:00,Mott,Rodney,WAS,Southeast,Home,Loss,94,15,...,79,32,0.4051,26,20,0.7692,44,3.2732,4.3643,7.5472
2744,1/1/2013,19:30,Richardson,Leroy,SAC,Pacific,Away,Loss,97,14,...,86,36,0.4186,21,16,0.7619,37,11.2197,3.3659,5.0000
2747,1/1/2013,19:30,Richardson,Leroy,DET,Central,Home,Win,103,19,...,75,39,0.5200,22,17,0.7727,44,7.8538,8.9757,14.5455
2750,1/1/2013,19:30,Zielinski,Gary,POR,Northwest,Away,Win,105,16,...,81,41,0.5062,18,12,0.6667,47,6.7207,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44155,4/9/2018,8:00,Kogut,Marat,MIN,Northwest,Home,Win,113,18,...,87,42,0.4828,26,22,0.8462,52,10.3368,7.2357,10.7692
44158,4/9/2018,8:30,Wood,Leon,SAC,Pacific,Away,Loss,85,12,...,81,33,0.4074,17,11,0.6471,45,4.5672,2.2836,3.1746
44161,4/9/2018,8:30,Wood,Leon,SA,Southwest,Home,Win,98,8,...,82,34,0.4146,29,24,0.8276,45,6.8509,6.8509,10.9091
44164,4/9/2018,9:00,Goble,John,POR,Northwest,Away,Loss,82,17,...,94,31,0.3298,18,13,0.7222,57,8.3324,2.0831,3.2787
44167,4/9/2018,9:00,Goble,John,DEN,Northwest,Home,Win,88,12,...,83,31,0.3735,26,20,0.7692,52,7.2909,5.2078,8.7719

In [ ]:

# Fouls difference influence on point difference.

# Fouls related to turnover
# Foul Count vs Win Percentage
# Fouls by Official per Region

# Fouls by day of week

In [ ]:
team_fg_percent = sorted_df['teamFGM']/sorted_df['teamFGA']

# x_axis = sorted_df['teamPF']
# y_axis = team_fg_percent
x_axis = sorted_df['teamAbbr']
y_axis = sorted_df['teamPF']

plt.bar(x_axis, y_axis)
plt.xticks(rotation=90)
plt.figure(figsize=(40, 5))

In [ ]:
# Foul Count vs Field Goal Percentage
foul_vs_fg = nba_df.loc[['teamPF','teamFG%']]
foul_vs_fg

In [ ]:
# Fouls for Official for time of year

season_17_18 = nba_df.loc[(nba_df["gmDate"] >= '10-17-2017') & (nba_df["gmDate"] <= '6-17-2018')].groupby(['offLNm','offFNm'])

pd.plot(x, y, titles)

# Establish bins for before all star break and after all star break
# bins = ['10-15-2017', '02-15-2017', '06-17-2018']
bins = pd.date_range('2017-10-17', freq='4M', periods=2)
bins.astype(np.int64)//10**9

# Create group names for bins
group_names = ["Before", "After"]

# Create new data frame with Age Group column
season_17_18["All Star"] = pd.cut(season_17_18["gmDate"], bins, labels=group_names)
all_star_17_18 = season_17_18.groupby('All Star')

# all_star_17_18
# season_17_18.head()
# 02-15-year season mid

In [ ]:
# Find number of fouls by ref per team
grouped_nba = nba_df.groupby(["offLNm", "offFNm", "teamAbbr"])
grouped_nba["teamPF"].sum()
by_ref = pd.DataFrame(grouped_nba["teamPF"].sum())
by_ref.head(50)

In [ ]:
# Grouping games by date and time 
nba_df["gmDateTime"] = nba_df["gmDate"].astype(str) + " " + nba_df["gmTime"].astype(str)

# print(nba_df['gmDateTime'])

nba_df_groupby = nba_df.groupby("gmDateTime")

# Concatenating unique referees' names
nba_df["offFL"] = nba_df["offFNm"].astype(str) + " " + nba_df["offLNm"].astype(str)

print(nba_df['offFL'])

In [ ]:
first_names = nba_df["offFNm"].unique().astype(str)
last_names = nba_df["offLNm"].unique().astype(str)
teamAbbr = nba_df["teamAbbr"].unique().astype(str)
regions = nba_df["teamDiv"].unique().astype(str)
regions

In [ ]:
# Full referee names concatenated together
ref_names = [None] * len(first_names)
for x in range(len(first_names)):
    ref_names[x] = first_names[x] + " " + last_names[x]

In [ ]:
# Establishing dictionary for recording fouls-per-team-per-official
foul_by_team_reset = {'WAS':0, 'CLE':0, 'BOS':0, 'MIA':0, 'DAL':0, 'LAL':0, 'DEN':0, 'PHI':0, 'IND':0,
       'TOR':0, 'HOU':0, 'DET':0, 'SAC':0, 'CHI':0, 'SA':0, 'NO':0, 'UTA':0, 'GS':0, 'PHO':0,
       'MEM':0, 'LAC':0, 'POR':0, 'OKC':0, 'ORL':0, 'CHA':0, 'MIL':0, 'ATL':0, 'NY':0,
       'MIN':0, 'BKN':0}
foul_by_team = {'WAS':0, 'CLE':0, 'BOS':0, 'MIA':0, 'DAL':0, 'LAL':0, 'DEN':0, 'PHI':0, 'IND':0,
       'TOR':0, 'HOU':0, 'DET':0, 'SAC':0, 'CHI':0, 'SA':0, 'NO':0, 'UTA':0, 'GS':0, 'PHO':0,
       'MEM':0, 'LAC':0, 'POR':0, 'OKC':0, 'ORL':0, 'CHA':0, 'MIL':0, 'ATL':0, 'NY':0,
       'MIN':0, 'BKN':0}
# Establishing dictionary for recording fouls-per-region-per-referee
foul_by_region_reset = {'Southeast':0, 'Central':0, 'Atlantic':0, 'Southwest':0, 'Pacific':0,
       'Northwest':0}
foul_by_region = {'Southeast':0, 'Central':0, 'Atlantic':0, 'Southwest':0, 'Pacific':0,
       'Northwest':0}

In [ ]:
# Find number of fouls by ref per team
# Fouls difference influence on point difference.
# Foul Count vs Field Goal Percentage
# Fouls related to turnover
# Foul Count vs Win Percentage
# Foul Count in relation to Player?
# Fouls by Official per Region
# Fouls for Official for time of year
# Fouls by day of week

In [ ]:
# Nested loops to sum fouls per team per referee
for row in nba_df:
    for ref in ref_names:
        for team in teamAbbr:
            if ref == nba_df["offFL"] & team == nba_df["teamAbbr"]:
                    fl_by_team[team] += nba_df["teamPF"]